{{define "content"}}
            <div class="float" id="sidebar">
                <h2>
                    ジャンル
                </h2>
                <ul class="block button">
                    <!---searchcontest.phpにジャンルを指定した状態で遷移--->
                    <li><a href="//">ジャ ンル1</a></li>
                </ul>
            </div>
            <div class="float" id="main">
                <div>
                    <h1 id="main_explanation">みんなの面白掲示板とは！？</h1>
                    <p>
                        ジャンル不問の熱き戦い<br>
                        トップになる快感を今この手に！
                    </p>
                </div>
                <div class="contents">
                    <div id="main_new">
                        <h2>新着掲示板</h2>
                        <p><a href="//">選手権をもっと見る</a></p>
                        <div>
                            <h3>選手権タイトル</h3>
                            <!---選手権作成日を入れたい--->
                            <p>選手権説明</p>
                        </div>
                        <div>
                            <h3>選手権タイトル</h3>
                            <!---選手権作成日を入れたい--->
                            <p>選手権説明</p>
                        </div>
                        <div>
                            <h3>選手権タイトル</h3>
                            <!---選手権作成日を入れたい--->
                            <p>選手権説明</p>
                        </div>
                        <div>
                            <h3>選手権タイトル</h3>
                            <!---選手権作成日を入れたい--->
                            <p>選手権説明</p>
                        </div>
                        <div>
                            <h3>選手権タイトル</h3>
                            <!---選手権作成日を入れたい--->
                            <p>選手権説明</p>
                        </div>
                        <div>
                            <h3>選手権タイトル</h3>
                            <!---選手権作成日を入れたい--->
                            <p>選手権説明</p>
                        </div>
                        <div>
                            <h3>選手権タイトル</h3>
                            <!---選手権作成日を入れたい--->
                            <p>選手権説明</p>
                        </div>
                        <div>
                            <h3>選手権タイトル</h3>
                            <!---選手権作成日を入れたい--->
                            <p>選手権説明</p>
                        </div>
                        <div>
                            <h3>選手権タイトル</h3>
                            <!---選手権作成日を入れたい--->
                            <p>選手権説明</p>
                        </div>
                        <div>
                            <h3>選手権タイトル</h3>
                            <!---選手権作成日を入れたい--->
                            <p>選手権説明</p>
                        </div>
                    <p><a href="//">選手権をもっと見る</a></p>
                    </div>
                </div>
            </div>
{{.}}
{{end}}