/* フォーマット　*/

* {
    padding: 0;
    margin: 0;
}

body {
    width:75%;
    margin:0 auto;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: aquamarine;
    text-align: center;
}

a {
    text-decoration: none;
}

nav {
    background-color: aliceblue;
}
#sidebar {
    background-color: azure;
}
#footer_navi {
    background-color: aquamarine;
    text-align: center;
}

.inline-block li {
    display: inline-block;
    list-style: none;
    padding: 5px 10px;
    margin: 5px 20px;
    border-radius: 10px;
}

#container {
    margin-top: 20px;
}

#sidebar {
    flex: 1;
}

#main {
    background-color: azure;
    text-align: left;
    flex: 5;
    padding: 10px;
}

#sidebar {
    border-right: solid 1px;
}

#sidebar h2 {
    background-color: aquamarine;
    padding: 10px;
    margin-bottom: 10px;

}

.block li {
    list-style: none;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.button li:hover{
    background-color: yellow;
}

.float {
    float: left;
    width: 50%;
    padding: 20px;
}
.contents {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}
.contents h3 {
    margin-top: 0;
}
.item {
    margin-bottom: 10px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}
.item:last-child {
    border-bottom: none;
}
.item p {
    margin: 0;
    font-weight: bold;
}

.recent_topics {
    border: dotted 2px #e0e0e0;
    background-color: #f0f0f0;
    padding: 4px;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "charset=Shift_JIS", sans-serif;
}

/* 返信 */

.topic {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}
.replies {
    margin-top: 40px;
}
.reply {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.reply:last-child {
    border-bottom: none;
}

.edit-form {
    display: none; /* 初期状態では非表示 */
}
